* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: Manrope, sans-serif;
    --color-body: #04050e;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-body);
    color: #fff;
}

main {
    padding-top: 80px;
}

/* ====================nav=========================== */

.logo h1 {
    font-size: 1.5rem;
    color: #a00a50;
    font-weight: 700;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 100;
    transition: color 0.5s ease;
    
}
.logo h1:hover {
      color: #7e5bbb;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 25px;

    display: flex;
    justify-content: center;
    /* centraliza a nav na tela */
    align-items: center;

    padding: 1.5rem 2rem;

    backdrop-filter: blur(8px);
}
nav {
    font-size: 1.5rem;
    position: fixed;       
    top: 1.5rem;            
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;           
}
nav ul {

    display: flex;
    list-style: none;
    gap: 2.5rem;

}
nav ul li a {
    text-decoration: none;
    color: #d6cbcb;

    cursor: pointer;
    transition: color 0.5s ease;
}
nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: #7e5bbb;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
    text-shadow: #ffffff94 0 0 5px;

}
/* ======================================main==================================================== */
.Good-Services{
    position: relative;
    top: 7rem;
    margin-left: 6rem;
    min-width: 480px;
    max-width: 490px;
}
.Good-Services h3{
    font-size: 35px;
    transition: 1.5s;
}
.Good-Services h3 :hover{
    color: #ff0000;
    text-shadow: 2px 3px rgb(43, 40, 40);
}